{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block htmltitle %}
    {{ page.title }}
{% endblock htmltitle %}

{% block title %}
    {{ page.title }}
{% endblock title %}

{% block twittertitle %}{{ page.title }}{% endblock twittertitle %}
{% block twitterdescription %}{{ page.summary }}{% endblock twitterdescription %}

// FIXME this only supports up to one nested sections
{% block navigation_path %}
    <a href="/">home</a>
    {% set path_first_component = page.components[0] ~ "/" %}
    {% if path_first_component != page.path %}
    > <a href="/{{ page.components[0] }}">{{ page.components[0] }}</a>
    {% endif %}
    > {{ page.title | default(value="blog") }}
{% endblock navigation_path %}

{% block content %}
    {% if not page.extra.no_header %}
        {% if page.date %}
            {{ macros::format_date(date=page.date) }}
        {% endif %}
        {% if config.extra.show_word_count and not page.extra.hide_word_count %}
            {% if page.date %}
                &#183; {{ page.word_count }} words
            {% else %}
                {{ page.word_count }} words
            {% endif %}
        {% endif %}
        {% if config.extra.show_reading_time and not page.extra.hide_reading_time %}
            {% set previous = config.extra.show_word_count and not page.extra.hide_word_count %}
            {% if previous or page.date %}
                &#183; {{ page.reading_time }} min
            {% else %}
                {{ page.reading_time }} min
            {% endif %}
        {% endif %}
        {% if page.taxonomies.tags %}
            <div class="tag-container">
                {% for tag in page.taxonomies.tags %}
                    <span class="tag">
                        <a class="tag-link" href="{{ get_taxonomy_url(kind='tags', name=tag) }}">
                            #{{ tag }}
                        </a>
                    </span>
                {% endfor %}
            </div>
        {% endif %}
        <hr/>
    {% endif %}
    {{ page.content | safe }}
{% endblock content %}
